* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
    max-width: 1800px;
}

h1 {
    font-size: 70px;
    color: #143C8C;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}


header {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    z-index: 0;
}

/*Estilos del menú de navegación*/

.navbar{
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}


.navbar-brand img {
    width: 50px;
    height: 60px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #143C8C;
    color: #ffff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #232323;
    padding: 5px 15px;
}

.nav-item{
    font-weight: 500;
}

.cta {
    width: 140px;
    background-color: #143C8C;
    text-align: center;
    color: #ffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
}

.cta:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


/*Fin de estilos del menú de navegación*/


.contenidoHeader {
    text-align: center;
}

.boton a {
    margin: 50px 0;
    display: inline-block;
    width: 200px;
    background-color: #143C8C;
    text-align: center;
    color: #ffff;
    padding: 14px 0;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.boton a:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}



/*Sección de cards*/
.contenedorMain {
    text-align: center;
    width: 90%;
    overflow: hidden;
    max-width: 1400px;
    margin: 100px auto;
}

.titulo {
    margin: 0 0 80px 0;
    font-weight: 700;
    font-size: 2rem;
}

.tituloTercero {
    font-weight: 700;
    font-size: 30px
}

.contenedorTarjetas {
    display: flex;
    justify-content: space-evenly;
}

.articulo {
    overflow: hidden;
}

.svg-inline--fa.fa-w-20 {
    color: #232323;
    font-size: 60px;
    background: #fff;
    display: inline-block;
    width: 3em;
    height: 3em;
    text-align: center;
    padding-top: 80px;
}

.svg-inline--fa.fa-w-16{
    color: #232323;
    font-size: 60px;
    background: #fff;
    display: inline-block;
    width: 3em;
    height: 3em;
    text-align: center;
    padding-top: 80px;
}


.articulo img {
    width: 320px;
    align-items: center;
    height: 200px;
}

.tituloCard {
    padding-top: 15px;
    font-weight: 500;
}

.articulo p {
    padding: 15px 8px;
    line-height: 25px;
    font-weight: 300;
}

.articulo a {
    display: block;
    margin: 20px auto;
    width: 140px;
    background-color: #143C8C;
    text-align: center;
    color: #ffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
}


.azul{
    width: 100%;
    background-color: #143C8C;
    height: 420px;
    text-align: center;
    color: #ffff;
}


.tituloAzul {
    font-weight: 600;
    font-size: 3em;
    padding: 50px 0 30px 0;
}

.azul a {
    display: block;
    margin: 30px auto;
    width: 250px;
    background-color: #FF7900;
    text-align: center;
    color: #ffff;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    font-size: 30px;
}

.azul a:hover {
    box-shadow: 0 8px 12px rgba(17, 29, 48, .26);
}

.parrafoAzul {
    font-weight: 400;
    font-size: 40px;
}

footer {
    width: 100%;
    background-color: #77797B;
    height: 300px;
}

.politicasPrivacidad {
    height: 80px;
    background-color: #305399;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

html, body{
    height: 97%;
}


.carousel, .active, .carousel-item , .carousel-inner{
    height: 100%;
}

.imgcarousel{
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
}

@media (max-width: 570px) and (min-width: 250px){
    .contenedorTarjetas{
        display: flex;
        flex-direction: column;
    }
    .articulo{
        margin-bottom: 30px;
    }
    .azul a{
        width: 60%;
        margin: 30px auto 10px auto;
        padding: 10px 0;
        text-decoration: none;
        font-weight: 700;
        border-radius: 30px;
        font-size: 1,5em;
    }
    .azul p{
        font-size: 2em;
    }
    html, body{
        height: 80%;
    }
}

@media (max-width: 1800px) and (min-width: 1260px){
    .articulo p{
        width: 350px;
    }
}

@media (max-width: 991px){
    .navbar-expand-lg .cta{
        display: none;
    }

}

/*ESTILOS DE MAIN DE PRODUCTOS*/

.contenedorMain h2{
    margin-bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #232323;
}

.contenedorProductos{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    height: 400px;
    overflow: hidden;
    background: #ffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border: 1px solid transparent;
    border-radius: 5px;
}

.contenedorProductos img{
    width: 600px;
    height: 400px;
    padding: 20px 0;
}

.contenidoProductos{
    width: 300px;
    height: 400px;
    padding: 20px 0;
}

.contenedorProductos h3{
    margin: 50px 0;
    color: #143C8C;
}

