* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
    max-width: 1800px;
}

#imgHeader{
    background-image: url(imagenes/jeriden-villegas-VLPUm5wP5Z0-unsplash\ \(1\).jpg);
    min-height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


h1 {
    font-size: 4em;
    color: #143C8C;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}


.principalContenedor .parrafoPrincipal{
    font-size: 2.4em;
    font-weight: 800;
}

.textoHeader{
    padding: 2%;
    text-align: center;
}
header {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    z-index: 0;
}

/*Estilos del menú de navegación*/

.navbar{
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.navbar-brand img {
    width: 50px;
    height: 60px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #143C8C;
    color: #ffff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #232323;
    padding: 5px 10px;
}

.nav-item{
    font-weight: 400;
    font-size: 1.1em;
    padding: 10px 5px;
}

.cta {
    width: 140px;
    background-color: #143C8C;
    text-align: center;
    color: #ffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
}

.cta:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}


/*Fin de estilos del menú de navegación*/


.contenidoHeader {
    text-align: center;
}


/*Sección de cards*/
.contenedorMain {
    text-align: center;
    width: 90%;
    overflow: hidden;
    max-width: 1400px;
    margin: 50px auto;
}


.contenedorTarjetas {
    display: flex;
    justify-content: space-evenly;
}

.articulo {
    overflow: hidden;
}
/*transition: transform .2s;*/




.imagenCard{
    width: 20em;
    align-items: center;
    height: 14em;
    object-fit: cover;

}


.tituloCard {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1.7em;
}

.articulo p {
    padding: 15px 8px;
    font-weight: 400;
}

.articulo a {
    display: block;
    margin: 20px auto;
    width: 140px;
    background-color: #143C8C;
    text-align: center;
    color: #ffff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
}


.azul{
    background-image: url(imagenes/jeriden-villegas-VLPUm5wP5Z0-unsplash\ \(1\).jpg);
    height: 25em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



p span{
    position: absolute;
    right: 0;
    width: 0;
    background: #f3f3f3;
    border-left: 1px solid #f3f3f3;
    animation: escribir 2s steps(30) infinite alternate;
}

@keyframes escribir{
0% {
    width: 90%;}
100% {
    width: 5%;}
}

html, body{
    height: 90%;
}


.carousel, .active, .carousel-item , .carousel-inner{
    height: 100%;
}

.imgcarousel{
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
}

@media (max-width: 1000px){
    .contenedorTarjetas{
        display: flex;
        flex-direction: column;
    }
    .contenedorTarjetas img{
        width: 100%;
        height: auto;
    }
    .contenedorTarjetas p{
        font-size: 5vw;
    }
    .contenedorTarjetas h2{
        font-size: 6.5vw;
        font-weight: 600;
    }
    .contenidoProductos h2{
        font-size: 6.5vw;
        font-weight: 600;
    }
    .contenedorTarjetas a{
        font-size: 5vw;
        width: 60%;
        font-weight: 500;
    }
    .contenedorMain .titulo{
        font-size: 8vw;
        font-weight: 800;
    }
    .articulo{
        margin-bottom: 30px;
    }
    html, body{
        height: 90%;
    }
    .principalContenedor .parrafoPrincipal{
        font-size: 7.5vw;
        font-weight: 800;
        padding-top: 1em;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    h1{
        font-size: 10.5vw;
    }
}

@media (max-width: 991px){
    .navbar-expand-lg .cta{
        display: none;
    }

}


/*ESTILOS DE MAIN DE PRODUCTOS*/

.titulo{
    margin: 4% 0 6% 0;
    text-align: center;
    color: #232323;
    font-weight: 700;
    font-size: 2em;
}

.contenedorProductos{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: #ffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    border: 1px solid transparent;
    border-radius: .2em;
    border-top: 4px solid #305399;
}

.contenedorProductos img{
    width: 90%;
    height: 90%;
    border-radius: .2em;
    object-fit: cover;
}


.contenidoProductos h2{
    margin: 30px 0;
    color: #143C8C;
    font-weight: 900;
}

.contenidoProductos p{
    width: 18em;
}

@media (max-width: 535px){
    .contenedorProductos{
        display: flex;
        flex-direction: column;
        height: 35em;
    }
    .contenidoProductos p{
        font-size: 5vw;
    }
    .cardItem{
        margin-bottom: 3em;
    }
}



/*ESTILOS DE MAIN DE SERVICIOS*/

.contenedorItem{
    width: 98%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
    grid-template-areas:
    ".       card1   .   "
    "card2   card1   card3"
    "card2   card4   card3"
    ".       card4   .    "
    ;
}

.cardItem:nth-last-of-type(1){
    grid-area: card1;
}

.cardItem:nth-last-of-type(2){
    grid-area: card2;
}

.cardItem:nth-last-of-type(3){
    grid-area: card3;
}

.cardItem:nth-last-of-type(4){
    grid-area: card4;
}





@media (max-width: 1000px){
    .contenedorItem{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .info{
        grid-column: 1/6;
    }
}


.cardItem{
    background: #143C8C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.textoOculto{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #143C8C;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffff;
    position: absolute;
    top: 0%;
    transition: all 0.5s;
}

.cardItem:hover > .textoOculto{
    top: -100%;
}

.textoVisible{
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 4px solid #143C8C;
    text-align: center; 
}
.cardItem .textoVisible p{
    color: #232323;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    max-width: 220px;
    margin: 3em auto;
}


.cardImg{
    background: #fff;
    margin-top: 20px;
    width: 4.1em;
    height: 4.1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.parrafoCard{
    margin-top: 5%;
}

.svg-inline--fa.fa-w-20, .svg-inline--fa.fa-w-12, .svg-inline--fa.fa-w-16{
    color: #143C8C;
    width: 2.1em;
    height: 2.1em;

}


.contenedorInfo{
    margin-bottom: 3em;
    color: #ffff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
}

.contenedorInfo img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: .2em;
}

.imgInfo{
    margin: 0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}

.info{
    border-radius: .3em;
    align-self: center;
    width: 90%;
    height: 85%;
    margin: 0 auto;
    background: #ffff;
    border-top: 4px solid #143C8C;
    color: #232323;
    padding: 2em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    grid-column: 1/4;
    grid-row: 2/-2;
}

.info h3{
    margin-bottom: 1.5em;
    font-weight: 600;
    font-size: 1.8em;
    color: #143C8C;
}

.info p{
    font-weight: 300;
    padding-bottom: .5em;
}

.redesSociales img{
    width: 4em;
    height: 4em;
    border: 1px solid #000;
    border-radius: 50%;
}


.principalContenedor{
    background: #f2f2f2;
    width: 100%;
    margin-bottom: 4%;
}

iframe{
    width: 100%;
    height: 30em;
    margin-top: 5%;
}

/*FOOTER*/

footer {
    color: #ffff;
    background: #143C8C;
    padding: 20px 10px 0px 10px;
}

footer h5{
    margin-top: 10px;
    font-weight: 700;
}

footer li{
    list-style: none;
    font-size: 13px;
}


fieldset{
    border: none;
}

.formlabel{
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.form-control {
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-color: #ffffff;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    box-shadow: none;
}

.buttonDark{
    background-color: transparent;
    border: 1px solid;
    font-size: 13px;
    padding: 5px 15px 5px 15px;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    border-color: #ffffff;
    margin-top: 1em;
}


.footer-copyright {
    padding: 20px;
    text-align: center;
}




/*Main contacto*/


.form form{
    background-color: #f3f3f3;
    width: 60%;
    border-radius: .5em;
    align-self: center;
    text-align: center;
    padding: 25px;
}



.form .grupo{
    position: relative;
    margin: 40px 0;
}


.grupo input, textarea{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #49454567;
    resize: none;
}


.grupo input:focus{
    outline: none;
    color: rgb(94, 93, 93);
}

.grupo input:focus~label,
.grupo input:valid~label, 
.grupo textarea:focus~label, 
.grupo textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.grupo label{
    color:#49454567;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 8px;
    transition: 0.4s ease all;
    pointer-events: none;

}

.botonForm{
    background: #143C8C;
    display: block;
    width: 200px;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    color: #fff;
    margin: 10px auto;
    padding: 14px 0;
    cursor: pointer;
}


.margenBotton{
    margin-top: 5%;
}

.textoContacto h2{
    margin-bottom: 1em;
    padding-top: 20px;
}

a .wsp{
    color: #ffff;
    background: #00bb2d;
    border-radius: 6px;
    padding: 1px;
    margin-bottom: 5px;
}


